@import "tailwindcss";

@theme {
  --color-primary: #16a34a;
  --color-primary-dark: #15803d;
  --color-bg: #f9fafb;
  --color-surface: #ffffff;
  --color-muted: #6b7280;
  --color-danger: #dc2626;

  --radius-xl: 1rem;

  --shadow-soft: 0 10px 30px rgba(0, 0, 0, 0.08);
}
